@font-face {
  font-family: Poppins;
  src: url(font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: Poppins-light;
  src: url(font/Poppins-Medium.ttf);
}

body {
  background-image: linear-gradient(
    to right,
    rgb(184, 9, 220),
    rgb(248, 72, 111)
  );
  margin: 0;
  padding: 0;
  font-family: Poppins;
  height: 100vh; /* Ensures the gradient fills the whole screen */
}

.button-container {
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  /* half height and width values */
  margin-top: -125px;
  margin-left: -200px;
  height: 250px;
  width: 400px;
  background-color: white;
  border-radius: 25px;
}

.button-container h3 {
  background: rgb(255, 255, 255);
  color: rgb(163, 0, 163);
  margin: 20px;
  margin-left: 30px;
  margin-bottom: 0;
  font-size: 24px;
}

.uploadBtn {
  background: rgb(254, 190, 0);
  color: rgb(255, 255, 255);
  width: 100px;
  height: 50px;
  margin: 50px;
  margin-top: 7%;
  margin-left: 33%;
  margin-bottom: 45px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  display: inline-block;
}
.uploadBtn:hover {
  background: rgb(208, 156, 0);
  border-radius: 7px;
  color: rgb(226, 226, 226);
}
.uploadBtn:active {
  background: rgb(147, 111, 0);
}

.createBtn {
  color: rgb(255, 255, 255);
  background: rgb(47, 228, 107);
  width: 100px;
  height: 50px;
  margin: 25px;
  margin-top: -10%;
  margin-left: 33%;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
}
.createBtn:hover {
  background: rgb(40, 192, 91);
  border-radius: 7px;
  color: rgb(226, 226, 226);
}

.createBtn:active {
  background: rgb(32, 152, 72);
}

.main-container {
  display: none;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  /* half height and width values */
  margin-top: -125px;
  margin-left: -250px;
  height: fit-content;
  width: 500px;
  background-color: white;
  border-radius: 25px;
}

.main-container h2 {
  color: rgb(163, 0, 163);
  font-size: 30px;
  margin-left: 30px;
}

.row-input {
  margin: 25px;
}

.row-input input {
  border: none;
  border-radius: 20px;
  background-color: rgb(236, 236, 236);
  margin-left: 20px;
  height: 50px;
  width: 275px;
  padding-left: 20px;
  outline: none;
  font-size: 17px;
}

.row-input input::placeholder {
  color: #696969;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.row-input input:focus::placeholder {
  opacity: 0;
}

.take-input {
  color: rgb(255, 255, 255);
  background: rgb(47, 228, 107);
  height: 47px;
  width: 80px;
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 16px;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
}
.take-input:hover {
  background: rgb(40, 192, 91);
  border-radius: 13px;
  color: rgb(226, 226, 226);
}
.take-input:active {
  background: rgb(32, 152, 72);
}

.list li {
  list-style: none;
  cursor: pointer;
  user-select: none;
  margin-top: 10px;
  padding-left: 40px;
  position: relative;
  font-family: Poppins-light;
  font-weight: 100;
  font-size: 17px;
}
.list li::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url("check-icons/unchecked-34.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.list li.checked {
  color: #555555;
  text-decoration: line-through;
}
.list li.checked::before {
  background-image: url(check-icons/checked-6.svg);
}

.list li span {
  position: absolute;
  right: 50px;
  width: 30px;
  height: 25px;
  text-align: center;
  color: #292929;
  font-size: 14px;
  padding-top: 5px;
}

.list li span:hover {
  background-color: #e1e1e1;
  border-radius: 50%;
}
